* {
    margin: 0;
    padding: 0;
    font-family: "Monomaniac One", sans-serif;
}

#div-profile {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 40px;
    margin-left: 60px;
}

#div-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.pfp-profile {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px white solid;
}

.profile-paragraph {
    font-size: 22px;
    width: 200px;
    text-align: center;
    word-wrap: break-word;
}



#posts-container {
    flex: 1; /* Ocupa o espaço disponível restante */
    margin-left: 20px; /* Adiciona uma margem para separar das informações do perfil */
}

#posts-container h1 {
    text-align: center; /* Centraliza o título */
}