<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastro.css') }}">
    <title>Cadastro de Usuário</title>
</head>
<body>
    <div class="container">
        <div id="formulario">
            <h1>Cadastre-se</h1>
            <form method="POST" action="/cadastro">
                <input type="text" name="username" placeholder="nome de usuário" required>
                <input type="email" name="email" placeholder="email" required>
                <input type="password" name="password" placeholder="senha" required>
                <input type="submit" value="Cadastrar">
            </form>
        </div>
        
        <a href="{{ url_for('login') }}">Já tem uma conta? Clique aqui para logar</a>

        {% if mensagem %}
            <script>
                window.alert("{{ mensagem }}");
                window.location.href = window.location.href;
            </script>
        {% endif %}
    </div>
</body>
</html>
