<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/profile.css") }}" >
    <title>Profile</title>
</head>
<body>
    <h1>Editar perfil</h1>
    <form method="POST" action="{{ url_for('editar_perfil') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        {{ form.username.label }} {{ form.username() }}
        {{ form.name.label }} {{ form.name() }}
        {{ form.email.label }} {{ form.email() }}
        {{ form.foto_perfil.label }} 
        {{ form.foto_perfil() }}
        {{ form.submit() }}

        {% if user.profile_picture %}
            <img width="250" height="250" src="{{ url_for('static', filename='profile_pictures/users/' + user.profile_picture) }}" alt="Profile Picture">
        {% else %}
            <img width="250" height="250" src="{{ url_for('static', filename='profile_pictures/default_profile_picture.jpg') }}" alt="Default Profile Picture">
        {% endif %}
    </form>

    <button><a href="{{ url_for('pagina_inicial') }}">Página inicial</a></button>
    <button><a href="{{ url_for('index') }}">Index</a></button>

    <script>
        
    </script>
</body>
</html>
