{% extends 'layout.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
    <h1>Editar perfil</h1>
    <form method="POST" action="{{ url_for('editar_perfil') }}" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        
        <div>
            {{ form.username.label }}
            {{ form.username() }}
        </div>

        <div>
            {{ form.name.label }}
            {{ form.name() }}
        </div>

        <div>
            {{ form.email.label }}
            {{ form.email() }}
        </div>

        <div>
            {{ form.description.label }}
            {{ form.description(maxlength=100) }} 
            <p>Contagem de caracteres: <span id="charCount">0</span>/100</p> 
        </div>

        <div>
            {{ form.foto_perfil.label }}
            {{ form.foto_perfil() }}
        </div>

        {{ form.submit() }}

        {% if user.profile_picture %}
            <img width="250" height="250" src="{{ url_for('static', filename='profile_pictures/users/' + user.profile_picture) }}" alt="Profile Picture">
        {% else %}
            <img width="250" height="250" src="{{ url_for('static', filename='profile_pictures/default_profile_picture.jpg') }}" alt="Default Profile Picture">
        {% endif %}
    </form>

    <script>
        document.getElementById("description").addEventListener("input", function() {
            var charCount = document.getElementById("charCount");
            charCount.textContent = this.value.length;
        });
    </script>
{% endblock %}
