<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='editar_perfil.css') }}">
    <title>Editar Perfil</title>
</head>
<body>
    <h1>Editar Perfil</h1>

    <form method="POST" action="/editar_perfil" enctype="multipart/form-data">
        <input type="text" name="username" placeholder="Alterar nome de usuário">
        <br><br>
        <label for="foto_perfil">Adicionar Foto de Perfil:</label>
        <input type="file" id="foto_perfil" name="foto_perfil">
        <br><br>
        <textarea name="descricao" placeholder="Adicionar Descrição"></textarea>
        <br><br>
        <input type="submit" value="Salvar Alterações">
    </form>

    <button><a href="{{ url_for('perfil') }}">Voltar para seu perfil</a></button>
    <button><a href="{{ url_for('pagina_inicial') }}">Ir para a página inicial</a></button>
</body>
</html>
