<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/login.css") }}" >
    <title>Login</title>
</head>
<body>
    <div>
      <h2>Login</h2>
      <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}

        {{ form.username.label }}
        {{ form.username(class="form-control", placeholder="Enter your username") }}

        {{ form.password.label }}
        {{ form.password(class="form-control", placeholder="Enter your password") }}

        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('register') }}">Ainda não tem uma conta? Clique aqui.</a>
    </form>

      {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
          {% endif %}
      {% endwith %}
    </div>

</body>
</html>
