{% extends 'layout.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}


<!-- FLEX | FLEX CONFIG | WIDTH - HEIGTH | BORDER | OTHERS  -->
<div class="flex justify-between gap-5 h-screen">

    <!-- MENU
         WIDTH | MARGIN | BORDER | OTHERS -->
    <div class="w-1/5 h-4/5 mt-8  border rounded-xl shadow-xl text-center bg-white" >
        <ul>
            <li class="text-base"><a href="">ULTIMOS POSTS</a></li>
            <li class="text-base"><a href="">MAIS CURTIDOS</a></li>
            <li class="text-base"><a href="">CONFIGURAÇÕES</a></li>
        </ul>
    </div>

    <!-- POST
         WIDTH | MARGIN | BORDER | OTHERS -->
    <div class="w-3/6 h-2/5 mt-12 ">
        {% for post in random_posts %}
        <div class="p-4 border rounded-xl overflow-hidden shadow-xl bg-white">
            <div class="flex">
                <img src="{% if post.user.profile_picture %}{{ url_for('static', filename='profile_pictures/users/' + post.user.profile_picture) }}{% else %}{{ url_for('static', filename='profile_pictures/default_profile_picture.jpg') }}{% endif %}" alt="{{ post.user.username }} profile_picture" class="w-16 h-16 rounded-xl object-cover cursor-pointer">

                <div class="flex-column p-2">
                    <p class="text-sm cursor-pointer"><a href="{{ url_for('profile', username=post.user.username)}}">{{ post.user.name }}</a></p>
                    <p class="text-sm cursor-pointer"><a href="{{ url_for('profile', username=post.user.username)}}">@{{ post.user.username }}</a></p>
                </div>

            </div>

            <!-- POST -->
            <p class="mt-2 text-sm">{{ post.content }}</p>
            <br>
            <div class="flex justify-between">
                <p class="text-sm text-left">Curtidas: 12</p>
                <p class="text-sm text-right">{{ post.formatted_date() }}</p>
            </div>
        </div>
        <br>
        {% endfor %}
    </div>
    

    <!-- AMIGOS
        WIDTH | MARGIN | BORDER | OTHERS -->
    <div class="w-1/5 h-4/5 mt-8 text-center bg-white border rounded-xl shadow-xl overflow-hidden">
        <h1>AMIGOS</h1>
        <div>
            <img src="" alt="FOTO DE PERFIL DE USUARIO">
            <p>NOME</p>
            <p>@nomedeusuario</p>   
        </div>
    </div>
</div>
{% endblock %}