{% extends 'layout.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
    <h1>Página inicial</h1>

    <h2>Posts Aleatórios</h2>
    <ul>
        {% for post in random_posts %}
        <div style="border: 1px solid black;">
            <strong>Author:</strong> {{ post.user.username }}<br>
            <strong>Content:</strong> {{ post.content }}<br>
            <strong>Created at:</strong> {{ post.formatted_date() }}
        </div>
        <br><br>
        {% endfor %}
    </ul>

{% endblock %}
