<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/profile.css") }}" >
    <title>Profile</title>
</head>
<body>
    <a href="{{ url_for('editar_perfil')}}">EDITAR PERFIL</a>
    <p>Perfil de {{ user.username }}</p>
    <p>Nome: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>

    {% if user.profile_picture %}
        <img src="{{ url_for('static', filename='profile_pictures/users/' + user.profile_picture) }}" alt="Profile Picture">
    {% else %}
        <img src="{{ url_for('static', filename='profile_pictures/default_profile_picture.jpg') }}" alt="Default Profile Picture">
    {% endif %}


    <button><a href="{{ url_for('pagina_inicial') }}">Página inicial</a></button>
    <button><a href="{{ url_for('index') }}">Index</a></button>
</body>
</html>
