{% extends 'layout.html' %}

{% block title %}Registration Form{% endblock %}

{% block content %}
    <div>
        <h2>Register</h2>
        <form action="{{ url_for('register') }}" method="post">
            {{ form.hidden_tag() }}
        
            {{ form.name(class="form-control", placeholder="Enter your name") }}
        
            {{ form.username(class="form-control", placeholder="Enter your username") }}

            {{ form.email(class="form-control", placeholder="Enter your email") }}
        
            {{ form.password(class="form-control", placeholder="Enter your password") }}

            {{ form.confirm_password(class="form-control", placeholder="Confirm your password") }}
        
            {{ form.submit(class="btn btn-primary") }}
        
            {% if msg %}
                <p style="color: red;">{{ msg }}</p>
            {% endif %}
        
            Já possui uma conta? <a href="{{ url_for('login') }}">Login</a>
            Voltar para o <a href="{{ url_for('index') }}">início</a>
        </form>             
    </div>
{% endblock %}
