<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename="css/register.css") }}" >
    <title>Registration Form</title>
</head>
<body>
    <div>
        <h2>Register</h2>
        <form action="{{ url_for('register') }}" method="post">
            {{ form.hidden_tag() }}
        
            {{ form.name(class="form-control", placeholder="Enter your name") }}
        
            {{ form.username(class="form-control", placeholder="Enter your username") }}

            {{ form.email(class="form-control", placeholder="Enter your email") }}
        
            {{ form.password(class="form-control", placeholder="Enter your password") }}

            {{ form.confirm_password(class="form-control", placeholder="Confirm your password") }}
        
            {{ form.submit(class="btn btn-primary") }}
        
            {% if msg %}
                <p style="color: red;">{{ msg }}</p>
            {% endif %}
        
            Já possuí uma conta?<a href="{{ url_for('login') }}">Login</a>
            Voltar para o <a href="{{ url_for('index') }}">início</a>
        </form>             
    </div>


</body>
</html>
